.margin{width:965px;margin:0 auto;}

.main{padding-top:75px;height:577px;}
.main .m-l{margin-right:17px;width:550px;float:left;}
.main .m-l a img{width:550px;}
.main .m-r{margin-top:35px;box-shadow:0 0 1px 1px #F9F9F9;border:1px solid #F2F2F2;width:328px;float:right;padding: 0 20px 20px 20px;}
.main .m-r p{font-size:22px;margin-top:10px;line-height:40px;color:#FE5297;font-weight:600;border-bottom:1px solid #E5E5E5;}

form{color:#666;font-size:14px;}
form input{box-sizing:border-box;width:250px;height:37px;border:1px solid #CDCDCD;box-shadow:1px 0 5px 0 #DCDCDC;margin-top:20px;padding:5px;outline:none;}

form .btn{border:none;box-shadow:none;width:300px;margin-left: 18px;line-height:22px;background:#FE5297;color:#fff;font-size:18px;font-weight:700;}
.m-r p.te{font:12px/18px "微软雅黑";color:#066666;    margin-left: 83px;margin-top:20px;border:none;}
.m-r p.te a{display:inline-block;}
.m-r p.te a img{width:24px;height:24px;margin:0 3px;}

.foot{text-align: center;color:#CCCCCC;font-size:14px;padding:30px;}

































